<h2>Changes for <%= @group.name %> for <%= @date %></h2>

<% @changes.each do |change| %>
  <h4><%= change['new']['asin'] %></h4>

  <% if change['old'] == change['new'] %>
    <p>No changes.</p>
    <% next %>
  <% end %>

  <% change['new'].each do |k,v|%>
    <% next if change['old'] && change['old'][k] == v%>
    <%= "New #{k}:" %>: <%= v %>
    <%= (change['old'] && change['old'][k]) ? "Old #{change['old'][k]}:#{change['old'][v]}" : nil %> <br>
    <hr>
  <% end %>
<% end %>
