<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <h1>Groups</h1>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= link_to group.name, group_path(group) %></td>
            <td><%= link_to 'Rename', edit_group_path(group) %></td>
            <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <% if @current_user.groups.count < Group::MAX_PER_ACCOUNT%>
      <%= link_to 'New Group', new_group_path, class: 'btn btn-primary btn-lg' %>
    <% else %>
      <%= link_to 'New Group', '#', class: 'btn btn-primary btn-lg disabled' %>
      <div class="small"> You've reached a max of <%= Group::MAX_PER_ACCOUNT %>.</div>
    <% end %>
  </div>
</div>
