<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Amazon Competitor Monitor</title>
    <meta charset="utf-8">
    <meta name="description" content="Monitor your FBA competitors for fun and profit!">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round%7CMontserrat:400,700|Open+Sans:300,600,800" media="all">
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>


